 ------
 Downloads
 ------
 
Downloads

Distributable JAR files

 MetaModel is distributed as a set of JAR files. You can obtain the latest version at our Google Code download site:
 
 {{http://code.google.com/p/metamodel/downloads/list}}
 
Use in Maven

 If you use Maven, Ivy, Grape or similar build tools you can include MetaModel as a dependency by using this snippet:
 
 Apache Maven 2+:

+-------------------------------+
<dependency>
    <groupId>org.eobjects.metamodel</groupId>
    <artifactId>MetaModel-full</artifactId>
    <version>${siteDownloadVersion}</version>
</dependency>
+-------------------------------+

 Apache Ivy:

+-------------------------------+
<dependency org="org.eobjects.metamodel" name="MetaModel-full" rev="${siteDownloadVersion}"/>
+-------------------------------+

 Groovy Grape:

+-------------------------------+ 
@Grapes(
    @Grab(group='org.eobjects.metamodel', module='MetaModel-full', version='${siteDownloadVersion}')
)
+-------------------------------+