@import url(http://fonts.googleapis.com/css?family=Ubuntu);

body {
	background-color: #f6f6f6;
	background-image: url("bg.png");
	background-repeat: repeat-x;
}

body,p,div,span,table,dl,ul,li,td,th {
	font-family: 'Ubuntu', sans-serif;
}

a,a:visited,a:hover {
	color: #36A;
}

#banner,#bannerLeft,#bannerRight,h1,h2,h3,h4,h5 {
	font-family: 'Ubuntu', sans-serif;
	font-weight: normal;
}

h1,h2,h4,h5 {
	color: #36A;
	border: none;
	background-color: transparent;
	padding-left: 0px;
	margin-left: 0px;
}

h3 {
	color: #e46c0a;
	border: none;
	background-color: transparent;
	padding-left: 0px;
	margin-left: 0px;
}

#banner {
	padding-top: 0;
	padding-left: 85px;
	height: 70px;
	line-height: 70px;
	background-color: transparent;
	background-image: url("logo.png");
	background-repeat: no-repeat;
	background-position: 3px 3px;
	border: none;
}

#banner, #banner a {
	color: #36A;
	font-size: 30px;
	font-weight: normal;
}

#breadcrumbs {
	background-color: transparent;
	border: none;
	color: #666;
}

#publishDate {
	color: #666;
}

#leftColumn {
	width: 230px;
	border: 1px solid #999;
	background-color: white;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	behavior: url("/border-radius.htc");
	border-radius: 10px;
}

#bodyColumn {
	margin-left: 240px;
}

#navcolumn {
	font-size: 1.2em;
}

#navcolumn li {
	margin-top: 2px;
	margin-bottom: 4px;
	font-size: 0.9em;
}

#navcolumn li strong {
	font-weight: normal;
}

.section {
	border: none;
	background-color: transparent;
}

.section img {
	border: 1px solid #999;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	behavior: url("/border-radius.htc");
	border-radius: 4px;
	margin-left: 14px;
}

.section dl {
	border: 1px solid #999;
	background-color: white;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	behavior: url("/border-radius.htc");
	border-radius: 10px;
	margin-left: 10px;
}

.section dl dt a {
	color: black;
	font-weight: bold;
}

.source {
	border: 1px dashed #ddd;
	background-color: white;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	behavior: url("/border-radius.htc");
	border-radius: 10px;
	margin-left: 10px;
}

.source, .source pre, .section pre {
	color: #e46c0a;
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.15em;
}

.bodyTable {
	border-spacing: 0;
	border: 1px solid #ddd;
}

.bodyTable td {
	border-width: 0;
	padding: 4px;
}

.bodyTable tr.a td b {
	color: #e46c0a;
	font-weight: normal;
	font-size: 1.2em;
}

.bodyTable tr.a td {
	background-color: #f3f3f3;
}

.bodyTable tr.b td {
	background-color: #ffffff;
}